@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
--toastify-color-success: #4f46e5 !important;
}

/* Base styles */
body, html {
  @apply text-white;
}

/* Shiny animation */

@keyframes shiny {
  0% {
    background-position: -200%;
  }
  100% {
    background-position: 200%;
  }
}

.shiny {
  background: linear-gradient(
    135deg, /* Adjust the angle for a more diagonal shine */
    rgba(255, 255, 255, 0.05) 45%, /* Narrow the gradient spread */
    rgba(255, 255, 255, 0.15) 50%, /* Make the shine line narrower */
    rgba(255, 255, 255, 0.05) 55%
  );
  background-size: 200% 100%;
  animation: shiny 3s linear infinite;
}

/* Tooltip */

.custom-tooltip {
  position: absolute;
  left: -15px;
  white-space: nowrap;
  padding: 0.25rem 0.5rem;
  background-color: #353332;
  color: #fff;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  z-index: 10;
  transition: opacity 0.3s ease, background-position 3s;
  transform: translateX(-100%);
}

.custom-tooltip::after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 6px;
  border-color: transparent transparent transparent #413F3E;
  top: 50%;
  transform: translateY(-50%);
  right: -12px;
}

/* Note Display styles */
.note-display {
  h1, h2, h3, h4, h5, h6 {
    @apply mt-8 font-bold;
  }

  a {
    @apply text-secondary underline;
  }

  blockquote {
    @apply border-l-4 border-accent italic pl-4 my-4;
  }

  code {
    @apply bg-code text-inherit px-2 py-0.5 rounded;
  }

  em {
    @apply italic;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  h5 {
    @apply text-base;
  }

  h6 {
    @apply text-sm;
  }

  hr {
    @apply border-t border-accent my-4;
  }

  img {
    @apply w-full my-4;
  }

  ul {
    @apply list-disc ml-6 my-2;
  }

  li {
    @apply my-2;
  }

  ol {
    @apply list-decimal ml-4 my-4;
  }

  p {
    @apply my-2;
  }

  pre {
    @apply bg-code rounded my-2 whitespace-pre-wrap break-words sm:max-w-md md:max-w-md lg:max-w-xl xl:max-w-3xl 2xl:max-w-6xl
  }

  strong {
    @apply font-bold;
  }

  table {
    @apply w-fit border-collapse border border-table my-2;
  }

  th {
    @apply bg-code;
  }

  th, td {
    @apply border border-table py-2 px-4;
    @apply text-left !important;
  }

  input:disabled {
    filter: invert(100%) hue-rotate(18deg) brightness(5);
  }

  img {
    @apply w-auto h-auto max-w-md my-4;
  }
}
